<h1>歌詞マッチ</h1>
<h3>新規Tweet</h3>
<%= form_for @tweet do |f| %>
  <div class="field">
  <%= f.label :lyrics %>
  <%= f.text_field :lyrics, :size => 140 %>
 </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :size => 140 %>
    </div>
  <div class="field">
   <%= f.label :singer %>
   <%= f.text_field :singer, :size => 140 %>
  </div>

  <div class="field">
   <%= f.label :link %>
   <%= f.text_field :link, :size => 140 %>
  </div>
  
  <div class="field">
    <%= f.label :feeling %>
    <p>喜: <%= f.check_box :feeling ,{ multiple: true, include_hidden: false }, "喜" %></p>
    <p>怒: <%= f.check_box :feeling ,{ multiple: true, include_hidden: false }, "怒" %></p>
    <p>哀: <%= f.check_box :feeling ,{ multiple: true, include_hidden: false }, "哀" %></p>
    <p>楽: <%= f.check_box :feeling ,{ multiple: true, include_hidden: false }, "楽" %></p>
    <p>その他: <%= f.check_box :feeling ,{ multiple: true, include_hidden: false }, "その他" %></p>
  </div>

  
  <%= f.submit "Tweetする" %>
<% end %>
<%= link_to "Tweet一覧に戻る", tweets_path %>