<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
<h3 class="wf-nicomoji">Tweet詳細</h3>
<div class="tweets">
  <p><%= @tweet.lyrics %></p>
  <p><%= @tweet.title %></p>
  <p><%= @tweet.singer %></p>
  <p>
  <a href="<%= @tweet.link %>"><%= @tweet.link %></a></p>
  <p><%= @tweet.feeling %></p>
</div>

<p class="wf-nicomoji"><%= link_to "トップページ", tweets_path %></p>
<%= button_to 'いいね', tweet_likes_path(@tweet) %>
<%= flash[:notice] %>
